* {
  box-sizing: border-box;
}
body{
  background-color: #0f1320;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  color: white;
  
  
  
}

  
h1{
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;

}
.button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toggle {

  cursor: pointer;
  border: 0;
  color:black;
  background:silver;
  padding: 40px;
  border-radius: 14px;
  font-weight: 700;
  text-transform: uppercase;
  
}

.button .toggle{
  cursor:pointer;
  padding: 10px;
  margin: 20px;
  width: 200px;

}
.button .label{
  font-weight: 500;
  
}

@media (max-width: 600px) {
  body {
    padding:10px;
    gap:30px;
  }
  .toggle {
    width: 300px;
    max-width: 320px;
  }
}
