body{
  background-color: #b28080;
}
h1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
}
.button{
  display:flex;
  flex-direction: row;
  justify-content: center;

}
.button .label{
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.toggle{
  margin: 10px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  


}


